body {
    overflow-y: auto;
    scrollbar-color: var(--primary);
    scrollbar-width: thin;
}

body::-webkit-scrollbar {
    /* 1 - скроллбар */
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 10px;
    border-radius: 10px;
    background: var(--white);
}

body::-webkit-scrollbar-button {
    /* 2 - кнопка */
    height: 0;
}

body::-webkit-scrollbar-track {
    /* 3 - трек */
    border: .6px solid var(--white);
}

body::-webkit-scrollbar-track-piece {
    /* 4 - видимая часть трека */
}

body::-webkit-scrollbar-thumb {
    /* 5 - ползунок */
    width: 10px;
    height: 20px;
    border-radius: 10px;
    background: var(--primary);
}
