//Colors
$dark: #1f1f1f;
$light: #f8f7f9;
$gray: #f8f7f97f;
$gray-100: #333;
$blue: #019afd;
$linearGradient: linear-gradient(180deg, #9cccf8 0%, #309cff 45.19%, #9cccf8 100%);

$error: #f00;

//Fonts
$ff-bold: inter-bold, sans-serif;
$ff-medium: inter-medium, sans-serif;
$ff-regular: inter-regular, sans-serif;

$transition: .3s ease-out;

$h-height: 8rem;
$h-height-mobile: 6rem;

//Breakpoints
$breakpoints: (
    mobile: 0,
    tablet: 768px,
    desktop: 1025px,
);
