.h1 {
    font-family: $ff-bold;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 9.6rem;
}

.h2 {
    font-family: $ff-bold;
    font-size: 5.2rem;
    line-height: 120%;
}

.h3 {
    font-family: $ff-bold;
    font-size: 4.2rem;
    line-height: 124%;
}

.h4 {
    font-family: $ff-bold;
    font-size: 3.2rem;
    line-height: 119%;
}

.p22 {
    font-size: 2.2rem;
    line-height: 3.3rem;
}

.p18 {
    font-size: 1.8rem;
    line-height: 2.7rem;
}

.p26b {
    font-family: $ff-bold;
    font-size: 2.6rem;
    line-height: 3.4rem;
}

.p21b {
    font-family: $ff-bold;
    font-size: 2.1rem;
    line-height: 3.4rem;
}

.p16m {
    font-family: $ff-medium;
    font-size: 1.6rem;
    line-height: 3.4rem;
}

.p14 {
    font-family: $ff-medium;
    font-size: 1.4rem;
    line-height: 2.4rem;
}




.p24 {
    font-family: $ff-regular;
    font-size: 2.4rem;
    line-height: 3.4rem;
}

.p24b {
    font-family: $ff-bold;
    font-size: 2.4rem;
    line-height: 142%;
}
