.h1 {
    font-family: $ff-bold;
    font-size: 6.4rem;
    line-height: 7.2rem;
    letter-spacing: -.116rem;
}

.h2 {
    font-family: $ff-bold;
    font-size: 5.2rem;
    line-height: 6.2rem;
    letter-spacing: -.094rem;
}

.h3 {
    font-family: $ff-bold;
    font-size: 4.2rem;
    line-height: 5.2rem;
    letter-spacing: -.076rem;
}

.h4 {
    font-family: $ff-bold;
    font-size: 3.2rem;
    line-height: 3.8rem;
    letter-spacing: -.058rem;
}

.p24 {
    font-family: $ff-regular;
    font-size: 2.4rem;
    line-height: 3.4rem;
    letter-spacing: -.043rem;
}

.p24b {
    font-family: $ff-bold;
    font-size: 2.4rem;
    line-height: 3.4rem;
    letter-spacing: -.043rem;
}

.p18 {
    font-family: $ff-regular;
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: -.032rem;
}

.p18b {
    font-family: $ff-bold;
    font-size: 1.8rem;
    line-height: 2.8rem;
    letter-spacing: -.032rem;
}

.p16 {
    font-family: $ff-regular;
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: -.029rem;
}

.p16b {
    font-family: $ff-bold;
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: -.029rem;
}

.p14 {
    font-family: $ff-regular;
    font-size: 1.4rem;
    line-height: 2.2rem;
    letter-spacing: -.025rem;
}

.p14b {
    font-family: $ff-bold;
    font-size: 1.4rem;
    line-height: 2.2rem;
    letter-spacing: -.025rem;
}
