//Colors
:root {
    --primary: #2e4fd7;
    --primaryHover: #1a3bc3;
    --secondary: #2d60a2;
    --black: #000;
    --white: #fff;
    --grey: #1b2124;
    --lightGrey: #f3eef3;
    --border: #b4b4b4;
}

$error: #f00;

//Fonts
$ff-bold: inter-bold, sans-serif;
$ff-medium: inter-medium, sans-serif;
$ff-regular: inter-regular, sans-serif;

$transition: .3s ease-out;

$h-height: 8rem;

//Breakpoints
$breakpoints: (
    mobile: 0,
    tablet: 768px,
    desktop: 1025px,
);
